{% extends "gstbillingapp/base.html" %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-90">
    <div class="page page-center">
        <div class="container container-normal py-4">
            <div class="row align-items-center g-4">
                <div class="col-lg">
                    <div class="container-tight">
                        <div class="text-center mb-4">
                            <a href="." class="navbar-brand navbar-brand-autodark">
                                <img src="{% static 'logo.svg' %}" height="36" alt="logo">
                            </a>
                        </div>
                        <div class="card card-md">
                            <div class="card-body">
                                <h2 class="h2 text-center mb-4">Set a New Password</h2>
                                <p class="text-center mb-4">Enter your new password below and confirm it to complete the reset process.</p>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg d-none d-lg-block">
                    <img src="{% static 'illustrations/undraw_work_together_h63l.svg' %}" height="300" class="d-block mx-auto" alt="illustration">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

